body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  fieldset {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form1 input[type="text"],
  .form1 input[type="number"],
  select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"],
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover,
  button:hover {
    background-color: #45a049;
  }
  
  .ca {
    margin-top: 20px;
  }
  
  