@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-color: #5a5959;
  color: white;
  padding: 15px 0;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

header img {
  float: left;
  margin: 0 20px;
}

nav {
  float: right;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #555;
}

.foto {
  width: 100%;
  height: auto;
}

.viagens ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
}

.viagens li {
  margin: 0 15px 20px;
}

.sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}

.sobre img {
  width: 40%;
  height: auto;
  margin-right: 30px;
}

.sobre div {
  width: 50%;
}

.sobre h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.sobre p {
  text-align: justify;
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px 0;
}




/* Contato */

.container {
    margin: 0 auto;
    padding: 20px;

  }
  .contato {
    margin-right: 10px; 
  }
  .titleContato
  {
    color: #07a2a6;
    font-size: 26px;
    text-align: center;
  }


  .contact-form {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:  20px auto;
    width: 400px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="email"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group textarea {
    width: 80%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group button {
    background-color: #28acff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }

  .form-group button:hover {
    background-color: #28adff9c;
  }
  .contato-container {
    display: flex;
    align-items: center; 
    margin: 10px auto;

    width: 400px;
  }
  





  /* Postagens */
  ul#album-fotos{
	
	width:700px;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style:none;
    
}
ul#album-fotos li{
	float: left;
	width: 200px;
	height: 200px; /*largura*/
	margin: 10px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.4); /*sombra*/	
}

ul#album-fotos li span{
	opacity: 0; /*transparencia */
	color: #ffffff; /*cor da fonte*/
	text-shadow: 1px 1px 1px black; /*borda*/
	background-color: rgba(0,0,0,.3); /*cor do fundo*/
	font-size:9pt; /*aumentar o tamanho da fonte*/
	line-height: 370px; /*faz com que a legenda desça*/
	padding: 5px;
}



ul#album-fotos li#foto01{
	background: url('imagens/postagens/Paris.jpg')no-repeat;
	background-position: 0px 0px;
	background-size: 250px 250px;
}


ul#album-fotos li#foto02{
	background: url('imagens/postagens/China.jpg')no-repeat;
	background-position: 0px 0px;
	background-size: 250px 250px;
}

ul#album-fotos li#foto03{
	background: url('imagens/postagens/London.jpg')no-repeat;
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto04{
	background: url('imagens/postagens/Ilhas.jpg')no-repeat;
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto05{
	background: url('imagens/postagens/Copacabana.jpg')no-repeat;
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto06{
	background: url('imagens/postagens/Gracia.jpg')no-repeat;
	background-position: 0px 0px;
	background-size: 200px 200px;
}

.elemento {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    width: 210px;
    
}

#album-fotos li {
    display: flex;
    align-items: flex-end; /* Alinha os itens na extremidade inferior */
  }

  ul#album-fotos li span{
	opacity: 0; /*transparencia */
	color: #ffffff; /*cor da fonte*/
	text-shadow: 1px 1px 1px black; /*borda*/
	background-color: rgba(0,0,0,.3); /*cor do fundo*/
	font-size:9pt; /*aumentar o tamanho da fonte*/
	line-height: 370px; /*faz com que a legenda desça*/
	padding: 5px;
}


.legenda
{
  color: #3f5e5f;
  font-size: 30px;
  text-align: center;
  font-family: 'Inconsolata', monospace;

}
